<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StackView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B246498C1E9CC9D20079FF4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B24649A51E9CC9D20079FF4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B24649B01E9CC9D20079FF4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
